  *{
    padding: 0;
    margin: 0;
  }
  
  body{background-image:url(BG002.gif);} 
  #lightBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(66,66,66,.6);
  }
  #tableLogin{
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    margin:auto;
    background-color:#FFCCDD;
    border:1px dotted deepPink;
  }

  #tableLogin  td{
    padding:2px 2px;
    height:20px;
    border-style:none;
    border-bottom:1px dotted deeppink;
  }

  #tableLogin  input{
    background-color:#FFCCDD;
    font-size:16px;
    padding-left:2px;
  }

  #btnLogin,#btnLoginCancel{margin-left:5px;padding:2px;} 

  #spanLogin:hover{
    cursor:pointer;
    text-decoration:underline;
    /*margin-left:20px;*/
  }
